<!-- Footer Start -->

<footer>
  <div class="row">
    <div class="footer-col col-md-4 text-center">
      <h3>Contact Me</h3>
      <p>{{ site.email }}</p>
    </div>
    <div class="footer-col col-md-4 text-center">
      <h3>Around the Web</h3>
      {% include social-buttons.html %}
    </div>
    <div class="footer-col col-md-4 text-center">
        <h3>Life Collaborator</h3>
        <p><a href="https://timothyhsieh27.github.io/">{{ site.collaborator }}</a></p>
    </div>
  </div>

    <p><br><br></p>

  <div class="container text-center">
    <p>Copyright &copy; {{ site.author }} {{ site.time | date: "%Y" }}</p>
  </div>
</footer>

<!-- Footer End -->
